body{
    font-family:Arial;
    color:purple;
    font-weight:600;
    /*margin-left:50px;*/
}
.box{
    background-color:greenyellow;
    height:90vh;
    width:350px;
    margin-left:300px;
    margin-top:40px;
}
.nav_bar{
    margin-left:20px;
}
.navigators{
    background-color:white;
    height:2px;
    width:150px;
    padding-top:10px;
    padding-bottom:30px;
    padding-left:4px;
    margin-bottom:7px;
}
.blackbox{
    background-color:black;
    height:30px;
    width:18px;
    margin-bottom:20px;
}