*{
    text-decoration:none;
}
.bar1{
    background-color:green;
    height:15vh;
    width:60px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    position:relative;
    margin:10px;
    top:20px;
}
.bar2{
    background-color:blue;
    height:15vh;
    width:60px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    position:relative;
    margin:10px;
    top:20px;
}
.bar3{
    background-color:red;
    height:15vh;
    width:60px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    position:relative;
    margin:10px;
    top:20px;
}
.bar4{
    background-color:grey;
    height:15vh;
    width:60px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    position:relative;
    margin:10px;
    top:20px;
}
.content{
    font-family:Arial;
    padding:30px;
}
.bars
{
    text-decoration:none;
}
